:root {
	--red-color: #f31728;
	--blue: #5eabe9a;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	background-color: #1e2127;
	color: #abb2bf;
}
a {
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: red;
	text-decoration-thickness: 2px;
}

header {
	width: 100%;
	height: 50px;
}
.logo {
	position: absolute;
	float: left;
	padding: 15px;
	margin-left: 8px;
	font-size: 26px;
}
.logo:hover {
	color: #ffffff;
	cursor: pointer;
}
.span {
	color: var(--red-color);
}

.navbar-ul {
	float: right;
	padding: 10px;
}
.navbar-li {
	display: inline-block;
	padding: 8px;
	margin-top: 8px;
	margin-right: 8px;
	list-style-type: none;
}
li:hover {
	color: #5eabe9;
	text-decoration: underline;
	text-decoration-color: var(--red-color);
}

.intro {
	color: #abb2bf;
	padding: 15px;
	margin-top: 20px;
}
.image {
	display: grid;
	justify-content: center;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 50%;
}
img {
	border-radius: 50%;
	transition: box-shadow 0.2s;
}
img:hover {
	box-shadow: 5px 5px #121212;
}

.intro-heading {
	display: grid;
	justify-content: center;
	font-size: 30px;
	text-decoration: underline;
	margin-top: 30px;
	text-decoration-color: var(--red-color);
}
.intro-content {
	align-items: center;
	padding: 5px;
	margin-top: 10px;
	margin-left: 25%;
	text-indent: 50px;
	width: 50%;
}

.what-i-do-heading {
	margin-top: 50px;
}

.socials {
	display: grid;
	justify-content: center;
	padding: 10px;
}
.socials-ul {
	display: inline-block;
	padding: 10px;
}
.socials-li {
	display: inline-block;
	justify-content: center;
	padding: 10px;
	cursor: pointer;
	transition: transform 0.5s;
}
.socials-li:hover {
	transform: translateX(5px);
}

#getintouch {
	margin-top: 50px;
}

footer {
	color: red;
	font-size: 15px;
	float: right;
	padding: 5px;
	margin-right: 10px;
}

