.crypt_input {
    border: none;
    border-radius: 5px;
    height: 1.5em;
}

.crypt_button {
    border: none;
    border-radius: 10px;
    height: 1.5em;
    margin-left: 10px;
}

.crypt_buttons {
    padding: 10px;
    padding-inline: 5px;
}

.crypt_type_button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin: 5px;
}
