
.contact__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-inline: 20%;
	margin-top: 10%;
}

.contact__icon {
	font-size: 3.5rem;
	color: var(--fg);
}
.contact__text {
	color: var(--fg);
}


.fa-discord {
    transition: transform 0.4s ease-in-out;
}
.fa-discord:hover {
    transform: rotate(360deg);
}

.fa-github {
    perspective: 1000px;
    transition: transform 0.5s ease-in-out;
}
.fa-github:hover {
    transform: rotateY(180deg);
}

.fa-twitter {
    transition: transform 0.2s ease-in-out;
}
.fa-twitter:hover {
    transform: rotate(20deg);
}

.fa-dev {
    transition: transform 0.2s ease-in-out;
}
.fa-dev:hover {
    transform: scale(1.1);
}
