
.contact__container {
    justify-content: space-evenly;
    margin-top: 20vh;
}

.contact__icon {
    margin-inline: 3rem;
    font-size: 3rem;
    padding: 20px 15px;
    color: var(--fg);
}

.fa-github {
    perspective: 1000px;
    transition: transform 0.5s ease-in-out;
}
.fa-github:hover {
    transform: rotateY(180deg);
}

.fa-dev {
    transition: transform 0.2s ease-in-out;
}
.fa-dev:hover {
    transform: scale(1.1);
}

.fa-twitter {
    transition: transform 0.2s ease-in-out;
}
.fa-twitter:hover {
    transform: rotate(20deg);
}

.fa-discord {
    transition: transform 0.4s ease-in-out;
}
.fa-discord:hover {
    transform: rotate(360deg);
}

