
.social_links_ul {
	list-style-type: none;

	display: flex;
	height: 100vh;

	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
}

.social_links_li {
	transition: transform 0.3s;
}

.social_links_li:hover {
	transform: translateX(6px) scale(1.1);
}

