:root {
	--white: #aaaaaa;
	--header-main: #1e2127;
}

.header {
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4rem;
	background-color: var(--header-main);
	color: var(--white);
	box-shadow: 1px 2px 5px 3px #171a1e;
	font-family: sans-serif;
}

.logo {
	font-size: 1.6rem;
	margin-left: 10px;
	font-weight: 700;
	padding: 1rem;
	transition: color 0.3s;
}
.logo:hover {
	color: white;
	cursor: pointer;
}

.span-red {
	color: red;
	font-family: sans-serif;
	font-weight: 915;
}

.navbar-ul {
	padding-right: 2rem;
}

.navbar-li {
	padding-inline: 10px;
	float: left;
	list-style-type: none;
}

.navbar-img {
	width: 40px;
	padding: 5px;
	transition: transform 0.2s;
}
.navbar-img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
	.navbar-img {
		width: 30px;
	}
	.navbar-ul {
		padding-right: 0.6rem;
	}
}

