ul {
    display: flex;
    list-style-type: none;
    float: right;
    margin-right: 20px;
}

a {
    text-decoration: none;
    padding-inline: 10px;
    color: #9ce5c0;
}
a:hover {
    text-decoration: underline;
}

.navbar {
    position: absolute;
    top: 0;
    width: 97%;
    height: 3.5em;
    background-color: #29343c;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.logo {
    position: absolute;
    float: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 1rem;
    font-size: 2em;
}

.span {
    font-size: 0.9em;
    color: #df5b60;
}
