.idk {
	position: relative;
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.heading {
	position: absolute;
	color: var(--fg);
	left: 50%;
    transform: translate(-50%, 0);
    text-decoration: underline;
	margin-top: 100px;
}

.result {
	margin-bottom: 30px;
}

.boxes {
	display: flex;
	background-color: var(--fg);
	height: 200px;
	width: 500px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.player-box {
	padding-inline: 1rem;
	margin-left: 0;
}

.comp-box {
	padding-inline: 40px;
}

.button-choices {
	margin: 2px;
	padding: 10px;
	margin-top: 20px;
	background-color: #111111;
	color: #dddddd;
	border-radius: 5px;
}

