/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/contact/Contact.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.rotate__icon {
    perspective: 1000px;
    transition: transform 0.5s ease-in-out;
}
.rotate__icon:hover {
    transform: rotateY(180deg);
}

