/*   #e27d60   #de354c #41b3a3  #1f3      #9ca       #f3f3f3     */

* {
  margin: 0px;
  padding: 0px;
  background-color: #41b3a3;
  font-family: 'Fira Code', monospace;
}

.but {
    position: fixed;
    margin-top: -170px;
    margin-left: 50px;
    cursor: pointer;
    user-select: none;
}

.nav {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.navbar {
    transition: transform 0.5s, margin-left 0.5s;
}
.navbar:hover {
    transform: scale(1.1);
}

.cross {
    display: none;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 1000;
}

.calc {
    display: none;
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.calc:hover {
    color: #fc4445;
    background-color: white;
}

ul {
    list-style-type: none;
}

.list {
    margin-left: 100px;
    margin-top: -50px;
}


h2 {
    font-size: 70px;
    color: #fc4445;
    display: grid;
    justify-content: center;
}


.container {
    margin-top: 200px;
}


